<nav class="djg-header-footer-standard djg-header-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <span>Bandit</span>
        <div class="pull-right">
            <div ng-hide="model.userId">
                <a ng-click="model.goToHomepage()">
                    <span class="glyphicon glyphicon-home djg-glyphicon-header-footer-standard djg-glyphicon-standard-size djg-glyphicon-header-footer-center"></span>
                </a>
                <a class="btn djg-white-btn djg-nav-button"
                   ng-click="model.goToLogin()">
                    <span>Login</span>
                </a>
                <a class="btn djg-white-btn djg-nav-button"
                   ng-click="model.goToRegister()">
                    <span>Register</span>
                </a>
            </div>
            <div ng-if="model.userId">
                <a ng-click="model.goToHomepage()">
                    <span class="glyphicon glyphicon-home djg-glyphicon-header-footer-standard djg-glyphicon-standard-size djg-glyphicon-header-footer-center"></span>
                </a>
                <a ng-click="model.goToProfile()">
                    <span class="glyphicon glyphicon-user djg-glyphicon-header-footer-standard djg-glyphicon-standard-size djg-glyphicon-header-footer-center"></span>
                </a>
                <a ng-click="model.logout()">
                    <span class="glyphicon glyphicon-off djg-glyphicon-header-footer-standard djg-glyphicon-standard-size djg-glyphicon-header-footer-center"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
<div class="container djg-body-content">
    <div>
        Spotify Details
    </div>
    <div>
        <div class="djg-profile-nav-title-text djg-standard-margin-bottom">
            Agents
        </div>
        <table class="table djg-result-table">
            <!--
            _user: {require: true, type: mongoose.Schema.Types.ObjectId, ref: "userModel"},
            _spotifyId: {require: true, type: String},
            name: {type: String, require: true},
            pictureUrl: {type: String},
            dateClaimed: {type: Date, default: Date.now()}
            -->
            <tr>
                <th>Agent Name</th>
                <th>Agent Email</th>
                <th>Date</th>
            </tr>
            <tr ng-repeat="entry in model.agentEntries">
                <th>
                    {{entry.userName}}
                </th>
                <th>
                    {{entry.email}}
                </th>
                <th>
                    {{entry.date | date}}
                </th>
            </tr>
        </table>
    </div>
    <div>
        <div class="djg-profile-nav-title-text djg-standard-margin-bottom">
            Promoters
        </div>
        <table class="table djg-result-table">
            <tr>
                <th><!-- Photo --></th>
                <th>Name</th>

            </tr>
            <!--<tr ng-repeat="entry in model.promoterEntries">
                <th>
                    <img class="djg-profile-result-image"
                         src="{{entry.pictureUrl}}">
                </th>
                <th>
                    {{entry.name}}
                </th>
            </tr>-->
        </table>
    </div>
</div>
<footer class="djg-header-footer-standard djg-footer-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
    </div>
</footer>