<nav class="djg-header-footer-standard djg-header-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <span>Bandit</span>
        <div class="pull-right" ng-show="model.access_token">
            <a class="btn btn-primary djg-nav-button" href="#!/login">
                <span>Login</span>
            </a>
            <a class="btn btn-primary djg-nav-button" href="#!/register">
                <span>Register</span>
            </a>
        </div>
    </div>
</nav>
<div class="container container-fluid djg-body-content">
    <div class="djg-login-register-title-text" ng-hide="model.access_token">
        <a href="/spotifyLogin"
           class="btn btn-primary form-control">
            Please log in with Spotify
        </a>
    </div>
    <div ng-show="model.access_token">
        <div class="djg-standard-margin-bottom">
            <label for="artist" class="djg-profile-field-title-text">
                Artist Search
            </label>
            <input class="input form-control djg-standard-margin-bottom"
                   type="text"
                   ng-model="model.artistName"
                   id="artist">
            <a class="btn btn-primary form-control djg-standard-margin-bottom"
               ng-click="model.searchArtist(model.artistName, model.access_token, model.refresh_token)">
                <span>Search!</span>
            </a>
        </div>
        <div class="djg-standard-margin-bottom">
            <label for="agency" class="djg-profile-field-title-text">
                Agency Search
            </label>
            <input class="input form-control djg-standard-margin-bottom"
                   type="text"
                   ng-model="model.agency"
                   id="agency">
            <a class="btn btn-primary form-control djg-standard-margin-bottom"
               href="#!/agency">
                <span>Search!</span>
            </a>
        </div>
    </div>
</div>
<footer class="djg-header-footer-standard djg-footer-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
    </div>
</footer>