.djg-link-btn {
    margin-bottom: 3px;
}

li {
    padding: 3px;
}

body {
    background: url("../images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.djg-panel-transparent {
    background: none;
}

.djg-buffer {
    height: 340px;
}

.djg-links-div {
    background-color: whitesmoke;
    border-radius: 25px;
}

.djg-page-font {
    font-family: "Droid Sans", Droid, serif;
    font-size: larger;
}
