<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <script src="../vendor/angular/angular.js"></script>
    <script src="../vendor/jquery/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          rel="stylesheet"/>
    <link href="../style/style.css"
          rel="stylesheet">
</head>
<body class="container">
<nav class="navbar navbar-light bg-faded djg-nav">
    <div class="djg-title-text">
        <span>Profile</span>
        <span class="glyphicon glyphicon-pencil pull-right"></span>
    </div>
</nav>
</body>
</html>