<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page New</title>
    <script src="../vendor/angular/angular.js"></script>
    <script src="../vendor/jquery/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          rel="stylesheet"/>
    <link href="../style/style.css"
          rel="stylesheet">
</head>
<body>
<nav class="djg-header-footer-standard djg-header-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <span>Profile</span>
        <a href="profile.html">
            <span class="glyphicon glyphicon-ok pull-right djg-glyphicon-header-footer-standard djg-glyphicon-standard-size djg-glyphicon-header-footer-center"></span>
        </a>
    </div>
</nav>
<div class="container djg-body-content">
    <form>
        <label for="username" class="djg-profile-field-title-text">
            Username
        </label>
        <input class="form-control input djg-standard-margin-bottom"
               type="text"
               placeholder="username"
               id="username">
        <label for="email" class="djg-profile-field-title-text">
            Email
        </label>
        <input class="form-control input djg-standard-margin-bottom"
               type="email"
               placeholder="email@email.com"
               id="email">
        <label for="first-name" class="djg-profile-field-title-text">
            First Name
        </label>
        <input class="form-control input djg-standard-margin-bottom"
               type="text"
               placeholder="FirstName"
               id="first-name">
        <label for="last-name" class="djg-profile-field-title-text">
            Last Name
        </label>
        <input class="form-control input djg-standard-margin-bottom"
               type="text"
               placeholder="Last Name"
               id="last-name">
        <a class="btn btn-primary form-control djg-standard-margin-bottom"
           role="button"
           href="website-list.html">
            Websites
        </a>
    </form>
    <a class="btn btn-danger form-control"
       role="button"
       href="../index.html">
        Logout
    </a>
</div>
<footer class="djg-header-footer-standard djg-footer-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <a href="profile.html"><span class="glyphicon glyphicon-user pull-right djg-glyphicon-standard-size djg-glyphicon-header-footer-center djg-glyphicon-header-footer-standard"></span></a>
    </div>
</footer>
</body>
</html>