<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          rel="stylesheet"/>
    <link href="../style/style.css"
          rel="stylesheet">
</head>
<body class="container align-center">
<div class="jumbotron container-fluid text-center align-middle djg-background-color">
    <div class="djg-title-standard djg-login-register-title-text">
        Register
    </div>
    <form>
        <input class="form-control input djg-standard-margin-bottom"
               type="text"
               placeholder="username">
        <input class="form-control input djg-standard-margin-bottom"
               type="password"
               placeholder="password">
        <input class="form-control input djg-standard-margin-bottom"
               type="password"
               placeholder="verify password">
        <a class="btn btn-primary form-control djg-standard-margin-bottom"
           role="button"
           href="profile.html">
            Register
        </a>
    </form>
    <a class="btn btn-danger form-control"
       role="button"
       href="../index.html">
        Cancel
    </a>
</div>
</body>
</html>