<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget List</title>
    <script src="../vendor/angular/angular.js"></script>
    <script src="../vendor/jquery/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          rel="stylesheet"/>
    <link href="../style/style.css"
          rel="stylesheet">
</head>
<body>
<nav class="djg-header-footer-standard djg-header-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <a href="page-list.html">
            <span class="glyphicon glyphicon-chevron-left pull-left djg-glyphicon-header-footer-center djg-glyphicon-standard-size djg-glyphicon-header-footer-standard"></span>
        </a>
        <span>Widgets</span>
        <a href="widget-chooser.html">
            <span class="glyphicon glyphicon-plus pull-right djg-glyphicon-header-footer-center djg-glyphicon-standard-size djg-glyphicon-header-footer-standard"></span>
        </a>
    </div>
</nav>
<div class="container-fluid djg-body-content">
    <ul class="djg-ul-standard">
        <li class="djg-li-spacing-standard djg-glyphicon-standard-size">
            <div>
                <div class="djg-widget-glyphicon-panel">
                    <a href="widget-heading.html">
                        <span class="glyphicon glyphicon-align-justify pull-right djg-glyphicon-li-center"></span>
                    </a>
                    <a href="widget-heading.html">
                        <span class="glyphicon glyphicon-cog pull-right djg-glyphicon-li-center"></span>
                    </a>
                </div>
                <!-- Put Widget here -->
                <h1>Gizmodo</h1>
            </div>
        </li>
        <li class="djg-li-spacing-standard djg-glyphicon-standard-size">
            <div>
                <div class="djg-widget-glyphicon-panel">
                    <a href="widget-heading.html">
                        <span class="glyphicon glyphicon-align-justify pull-right djg-glyphicon-li-center"></span>
                    </a>
                    <a href="widget-heading.html">
                        <span class="glyphicon glyphicon-cog pull-right djg-glyphicon-li-center"></span>
                    </a>
                </div>
                <!-- Put Widget here -->
                <h2>Chris Farren</h2>
            </div>
        </li>
        <li class="djg-li-spacing-standard djg-glyphicon-standard-size">
            <div>
                <div class="djg-widget-glyphicon-panel">
                    <a href="widget-image.html">
                        <span class="glyphicon glyphicon-align-justify pull-right djg-glyphicon-li-center"></span>
                    </a>
                    <a href="widget-image.html">
                        <span class="glyphicon glyphicon-cog pull-right djg-glyphicon-li-center"></span>
                    </a>
                </div>
                <!-- Put Widget here -->
                <img class="img-responsive"
                     src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/17862385_1667647849917330_2434511604420608188_n.jpg?oh=fb9c41bbd08a0dee1df34e29d638c15e&oe=5A0F7219">
            </div>
        </li>
        <li class="djg-li-spacing-standard djg-glyphicon-standard-size">
            <div>
                <div class="djg-widget-glyphicon-panel">
                    <a href="widget-heading.html">
                        <span class="glyphicon glyphicon-align-justify pull-right djg-glyphicon-li-center"></span>
                    </a>
                    <a href="widget-heading.html">
                        <span class="glyphicon glyphicon-cog pull-right djg-glyphicon-li-center"></span>
                    </a>
                </div>
                <!-- Put Widget here -->
                <h3>The world is a beautiful Chris Farren and I am Chris Farren.</h3>
            </div>
        </li>
        <li class="djg-li-spacing-standard djg-glyphicon-standard-size">
            <div>
                <div class="djg-widget-glyphicon-panel">
                    <a href="widget-heading.html">
                        <span class="glyphicon glyphicon-align-justify pull-right djg-glyphicon-li-center"></span>
                    </a>
                    <a href="widget-heading.html">
                        <span class="glyphicon glyphicon-cog pull-right djg-glyphicon-li-center"></span>
                    </a>
                </div>
                <!-- Put Widget here -->
                <h2>Pash Rash by Jeff Rosenstock</h2>
            </div>
        </li>
        <li class="djg-li-spacing-standard djg-glyphicon-standard-size">
            <div>
                <div class="djg-widget-glyphicon-panel">
                    <a href="widget-youtube.html">
                        <span class="glyphicon glyphicon-align-justify pull-right djg-glyphicon-li-center"></span>
                    </a>
                    <a href="widget-youtube.html">
                        <span class="glyphicon glyphicon-cog pull-right djg-glyphicon-li-center"></span>
                    </a>
                </div>
                <!-- Put Widget here -->
                <iframe width="560"
                        height="315"
                        src="https://www.youtube.com/embed/wssFJIxkedw"
                        frameborder="0"
                        allowfullscreen>
                </iframe>
            </div>
        </li>
        <li class="djg-li-spacing-standard djg-glyphicon-standard-size">
            <div>
                <div class="djg-widget-glyphicon-panel">
                    <a href="widget-heading.html">
                        <span class="glyphicon glyphicon-align-justify pull-right djg-glyphicon-li-center"></span>
                    </a>
                    <a href="widget-image.html">
                        <span class="glyphicon glyphicon-cog pull-right djg-glyphicon-li-center"></span>
                    </a>
                </div>
                <!-- Put Widget here -->
                <h3>Pash Rash is a song by Jeff Rosenstock, a great musician and band!</h3>
            </div>
        </li>
    </ul>
</div>
<footer class="djg-header-footer-standard djg-footer-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">

        <span class="glyphicon glyphicon-play pull-left djg-glyphicon-left djg-glyphicon-standard-size djg-glyphicon-header-footer-center djg-glyphicon-header-footer-standard"></span>
        <span class="glyphicon glyphicon-eye-open pull-left djg-glyphicon-standard-size djg-glyphicon-header-footer-center djg-glyphicon-header-footer-standard"></span>
        <a href="profile.html">
            <span class="glyphicon glyphicon-user pull-right djg-glyphicon-standard-size djg-glyphicon-header-footer-center djg-glyphicon-header-footer-standard"></span>
        </a>
    </div>
</footer>
</body>
</html>