<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget Youtube</title>
    <script src="../vendor/angular/angular.js"></script>
    <script src="../vendor/jquery/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          rel="stylesheet"/>
    <link href="../style/style.css"
          rel="stylesheet">
</head>
<body>
<nav class="djg-header-footer-standard djg-header-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <a href="widget-list.html">
            <span class="glyphicon glyphicon-chevron-left pull-left djg-glyphicon-header-footer-center djg-glyphicon-standard-size djg-glyphicon-header-footer-standard"></span>
        </a>
        <span>Widget Edit</span>
        <a href="widget-list.html">
            <span class="glyphicon glyphicon-ok pull-right djg-glyphicon-header-footer-center djg-glyphicon-standard-size djg-glyphicon-header-footer-standard"></span>
        </a>
    </div>
</nav>
<div class="container djg-body-content">
    <form>
        <label for="name" class="djg-profile-field-title-text">
            Name
        </label>
        <input class="form-control input djg-standard-margin-bottom"
               type="text"
               placeholder="Name"
               id="name">
        <label for="text" class="djg-profile-field-title-text">
            Text
        </label>
        <input class="form-control input djg-standard-margin-bottom"
               type="text"
               placeholder="Text"
               id="text">
        <label for="url" class="djg-profile-field-title-text">
            URL
        </label>
        <input class="form-control input djg-standard-margin-bottom"
               type="url"
               placeholder="URL"
               id="url">
        <label for="width" class="djg-profile-field-title-text">
            Width
        </label>
        <input class="form-control input djg-standard-margin-bottom"
               type="number"
               placeholder="Width"
               value="100"
               max="100"
               min="0"
               id="width">
        <a class="btn btn-danger form-control"
           role="button"
           href="widget-list.html">
            Delete
        </a>
    </form>

</div>
<footer class="djg-header-footer-standard djg-footer-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <a href="profile.html">
            <span class="glyphicon glyphicon-user pull-right djg-glyphicon-standard-size djg-glyphicon-header-footer-center djg-glyphicon-header-footer-standard"></span>
        </a>
    </div>
</footer>
</body>
</html>