<nav class="djg-header-footer-standard djg-header-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <a href="#!/profile/{{model.userId}}">
            <span class="glyphicon glyphicon-chevron-left pull-left djg-glyphicon-header-footer-center djg-glyphicon-standard-size djg-glyphicon-header-footer-standard"></span>
        </a>
        <span>Websites</span>
        <a href="#!/user/{{model.userId}}/website/new">
            <span class="glyphicon glyphicon-plus pull-right djg-glyphicon-header-footer-center djg-glyphicon-standard-size djg-glyphicon-header-footer-standard"></span>
        </a>
    </div>
</nav>
<div class="container-fluid djg-body-content">
    <ul class="djg-ul-standard">
        <li ng-repeat="website in model.websites" class="djg-li-spacing-standard djg-glyphicon-standard-size">
            <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">
                <span>{{website.name}}</span>
            </a>
            <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                <span class="glyphicon glyphicon-cog pull-right djg-glyphicon-li-center"></span>
            </a>
        </li>
    </ul>
</div>
<footer class="djg-header-footer-standard djg-footer-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <a href="#!/profile/{{model.userId}}">
            <span class="glyphicon glyphicon-user pull-right djg-glyphicon-standard-size djg-glyphicon-header-footer-center djg-glyphicon-header-footer-standard"></span>
        </a>
    </div>
</footer>