<nav class="djg-header-footer-standard djg-header-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <a href="#!/user/{{model.userId}}/website">
            <span class="glyphicon glyphicon-chevron-left pull-left djg-glyphicon-header-footer-center djg-glyphicon-standard-size djg-glyphicon-header-footer-standard"></span>
        </a>
        <div class="col-md-4 hidden-xs hidden-sm">
            <span>Websites</span>
            <a href="#!/user/{{model.userId}}/website/new">
                <span class="glyphicon glyphicon-plus pull-right djg-glyphicon-header-footer-center djg-glyphicon-standard-size djg-glyphicon-header-footer-standard"></span>
            </a>
        </div>
        <span>Edit Website</span>
        <a ng-click="model.updateWebsite(model.websiteId, model.website)" href="#!/user/{{model.userId}}/website/{{model.websiteId}}">
            <span class="glyphicon glyphicon-ok pull-right djg-glyphicon-header-footer-center djg-glyphicon-standard-size djg-glyphicon-header-footer-standard"></span>
        </a>
    </div>
</nav>
<div class="container-fluid djg-body-content">
    <div style="margin-left: 22px;" class="col-md-4 hidden-xs hidden-sm">
        <ul class="djg-ul-standard">
            <li ng-repeat="website in model.websites" class="djg-li-spacing-standard djg-glyphicon-standard-size">
                <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">
                    <span>{{website.name}}</span>
                </a>
                <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                    <span class="glyphicon glyphicon-cog pull-right djg-glyphicon-li-center"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="djg-profile-field-title-text col-md-7 col-sm-12">
        <label for="website-name">Website Name</label>
        <input class="form-control input djg-standard-margin-bottom"
               type="text"
               placeholder="Name"
               value="{{model.website.name}}"
               ng-model="model.website.name"
               id="website-name">
        <label for="website-description">Website Description</label>
        <textarea class="form-control input djg-standard-margin-bottom"
                  rows="4"
                  cols="50"
                  placeholder="Description"
                  ng-model="model.website.description"
                  id="website-description">
            {{model.website.description}}
        </textarea>
        <a class="btn btn-danger form-control"
           role="button"
           ng-click="model.deleteWebsite(model.websiteId)"
           href="#!/user/{{model.userId}}/website">
            Delete
        </a>
    </div>

</div>
<footer class="djg-header-footer-standard djg-footer-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <a href="#!/profile/{{model.userId}}">
            <span class="glyphicon glyphicon-user pull-right djg-glyphicon-standard-size djg-glyphicon-header-footer-center djg-glyphicon-header-footer-standard"></span>
        </a>
    </div>
</footer>