.djg-title-standard {
    text-align: left;
    font-family: "Droid Sans", Droid, serif;
}

.djg-login-register-title-text {
    font-size: 3em;
}

.djg-profile-field-title-text {
    font-size: 1.5em;
}

.djg-profile-nav-title-text {
    font-size: 3em;
    padding-left: .3em;
    padding-right: .3em;
}

.djg-col-center {
    margin:0 auto;
}

.djg-background-color {
    background-color: transparent;
}

.djg-standard-margin-bottom {
    margin-bottom: 5px;
}

.djg-header-footer-standard {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #2aabd2;
    color: white;
}

.djg-header-standard {
    margin-bottom: 2em;
    top: 0;
}

.djg-footer-standard {
    bottom: 0;
    width: 100%;
    height: 60px;
}

.djg-body-content {
    padding-top: 6em;
    padding-bottom: 6em;
}

.djg-glyphicon-header-footer-center {
    margin-top: .18em;
}