<nav class="djg-header-footer-standard djg-header-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
            <span class="glyphicon glyphicon-chevron-left pull-left djg-glyphicon-header-footer-center djg-glyphicon-standard-size djg-glyphicon-header-footer-standard"></span>
        </a>
        <span>Pages</span>
        <a ng-click="model.updatePage(model.pageId, model.page)" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
            <span class="glyphicon glyphicon-ok pull-right djg-glyphicon-header-footer-center djg-glyphicon-standard-size djg-glyphicon-header-footer-standard"></span>
        </a>
    </div>
</nav>
<div class="container-fluid djg-body-content">
    <label for="page-name" class="djg-profile-field-title-text">
        Name
    </label>
    <input class="form-control input djg-standard-margin-bottom"
           type="text"
           placeholder="Page Name"
           value="Blog Post"
           ng-model="model.page.name"
           id="page-name">
    <label for="page-title" class="djg-profile-field-title-text">
        Title
    </label>
    <input class="form-control input djg-standard-margin-bottom"
           type="text"
           placeholder="Page Title"
           ng-model="model.page.title"
           id="page-title">
    <a class="btn btn-danger form-control"
       role="button"
       ng-click="model.deletePage(model.pageId)"
       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
        Delete
    </a>
</div>
<footer class="djg-header-footer-standard djg-footer-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <a href="#!/profile/{{model.userId}}">
            <span class="glyphicon glyphicon-user pull-right djg-glyphicon-standard-size djg-glyphicon-header-footer-center djg-glyphicon-header-footer-standard"></span>
        </a>
    </div>
</footer>