<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <script src="../vendor/angular/angular.js"></script>
    <script src="../vendor/jquery/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          rel="stylesheet"/>
    <link href="../style/style.css"
          rel="stylesheet">
</head>
<body>
<nav class="djg-header-footer-standard djg-header-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <span>Profile</span>
        <span class="glyphicon glyphicon-ok pull-right djg-glyphicon-center"></span>
    </div>
</nav>
<div class="container djg-body-content">
    <form>
        <div class="djg-profile-field-title-text">
            Username
        </div>
        <input class="form-control input djg-standard-margin-bottom"
               type="text"
               placeholder="username">

        <div class="djg-profile-field-title-text">
            Email
        </div>
        <input class="form-control input djg-standard-margin-bottom"
               type="text"
               placeholder="email@email.com">
        <div class="djg-profile-field-title-text">
            First Name
        </div>
        <input class="form-control input djg-standard-margin-bottom"
               type="text"
               placeholder="FirstName">
        <div class="djg-profile-field-title-text">
            Last Name
        </div>
        <input class="form-control input djg-standard-margin-bottom"
               type="text"
               placeholder="Last Name">
        <a class="btn btn-primary form-control djg-standard-margin-bottom"
           role="button"
           href="website-list.html">
            Websites
        </a>
    </form>
    <a class="btn btn-danger form-control"
       role="button"
       href="../index.html">
        Logout
    </a>
</div>
<footer class="djg-header-footer-standard djg-footer-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <span class="glyphicon glyphicon-user pull-right djg-glyphicon-center"></span>
    </div>
</footer>
</body>
</html>