<div class="jumbotron container-fluid text-center align-middle djg-background-color">
    <div class="djg-title-standard djg-login-register-title-text">
        Login
    </div>
    <form>
        <input class="form-control input djg-standard-margin-bottom"
               type="text"
               placeholder="username"
               id="text">
        <input class="form-control input djg-standard-margin-bottom"
               type="password"
               placeholder="password"
               id="password">
        <a class="btn btn-primary form-control djg-standard-margin-bottom"
           role="button"
           href="view/profile.html">
            Login
        </a>
    </form>
    <a class="btn btn-success form-control"
       role="button"
       href="view/register.html">
        Register
    </a>
</div>