<div class="jumbotron container-fluid text-center align-middle djg-background-color">
    <div class="djg-title-standard djg-login-register-title-text">
        Login
    </div>
    <input class="form-control input djg-standard-margin-bottom"
           type="text"
           ng-model="model.user.username"
           placeholder="username"
           id="text">
    <input class="form-control input djg-standard-margin-bottom"
           type="password"
           ng-model="model.user.password"
           placeholder="password"
           id="password">
    <a class="btn btn-primary form-control djg-standard-margin-bottom"
       role="button"
       ng-click="model.login(model.user)">
        Login
    </a>
    <a class="btn btn-success form-control"
       role="button"
       href="#!/register">
        Register
    </a>
</div>