<div class="jumbotron container-fluid text-center align-middle djg-background-color">
    <div class="djg-title-standard djg-login-register-title-text">
        Register
    </div>
    <form>
        <input class="form-control input djg-standard-margin-bottom"
               type="text"
               placeholder="username">
        <input class="form-control input djg-standard-margin-bottom"
               type="password"
               placeholder="password">
        <input class="form-control input djg-standard-margin-bottom"
               type="password"
               placeholder="verify password">
        <a class="btn btn-primary form-control djg-standard-margin-bottom"
           role="button"
           href="profile.view.client.html">
            Register
        </a>
    </form>
    <a class="btn btn-danger form-control"
       role="button"
       href="../../index.html">
        Cancel
    </a>
</div>