<div class="jumbotron container-fluid text-center align-middle djg-background-color">
    <div class="djg-title-standard djg-login-register-title-text">
        Register
    </div>
    <input class="form-control input djg-standard-margin-bottom"
           type="text"
           placeholder="username"
           ng-model="model.user.username">
    <input class="form-control input djg-standard-margin-bottom"
           type="password"
           placeholder="password"
           ng-model="model.user.password">
    <input class="form-control input djg-standard-margin-bottom"
           type="password"
           ng-model="model.user.password2"
           placeholder="verify password">
    <a class="btn btn-primary form-control djg-standard-margin-bottom"
       role="button"
       ng-click="model.registerUser(model.user)">
        Register
    </a>
    <a class="btn btn-danger form-control"
       role="button"
       href="#!/">
        Cancel
    </a>
</div>