<nav class="djg-header-footer-standard djg-header-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <a href="widget-list.view.client.html">
            <span class="glyphicon glyphicon-chevron-left pull-left djg-glyphicon-header-footer-center djg-glyphicon-standard-size djg-glyphicon-header-footer-standard"></span>
        </a>
        <span>Widget Edit</span>
        <a href="widget-list.view.client.html">
            <span class="glyphicon glyphicon-ok pull-right djg-glyphicon-header-footer-center djg-glyphicon-standard-size djg-glyphicon-header-footer-standard"></span>
        </a>
    </div>
</nav>
<div class="container djg-body-content">
    <form>
        <label for="name" class="djg-profile-field-title-text">
            Name
        </label>
        <input class="form-control input djg-standard-margin-bottom"
               type="text"
               id="name"
               placeholder="Name">
        <label for="text" class="djg-profile-field-title-text">
            Text
        </label>
        <input class="form-control input djg-standard-margin-bottom"
               type="text"
               placeholder="Text"
               id="text">
        <label for="url" class="djg-profile-field-title-text">
            URL
        </label>
        <input class="form-control input djg-standard-margin-bottom"
               type="url"
               placeholder="URL"
               id="url">
        <label for="width" class="djg-profile-field-title-text">
            Width
        </label>
        <input class="form-control input djg-standard-margin-bottom"
               type="number"
               placeholder="100"
               min="0"
               max="100"
               id="width">
        <label for="upload" class="djg-profile-field-title-text">
            Upload
        </label>
        <input class="form-control input djg-standard-margin-bottom"
               type="file"
               placeholder="Upload file"
               id="upload">
        <a class="btn btn-primary form-control djg-standard-margin-bottom"
           role="button"
           href="">
            Upload Image
        </a>
        <a class="btn btn-danger form-control"
           role="button"
           href="widget-list.view.client.html">
            Delete
        </a>
    </form>

</div>
<footer class="djg-header-footer-standard djg-footer-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <a href="../user/profile.view.client.html">
            <span class="glyphicon glyphicon-user pull-right djg-glyphicon-standard-size djg-glyphicon-header-footer-center djg-glyphicon-header-footer-standard"></span>
        </a>
    </div>
</footer>