<nav class="djg-header-footer-standard djg-header-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <span class="glyphicon glyphicon-chevron-left pull-left djg-glyphicon-header-footer-center djg-glyphicon-standard-size djg-glyphicon-header-footer-standard"></span>
        </a>
        <span>Choose Widget</span>
    </div>
</nav>
<div class="container-fluid djg-body-content">
    <ul class="djg-ul-standard">
        <li ng-repeat="widgetType in model.widgetTypes" class="djg-li-spacing-standard djg-glyphicon-standard-size">
            <div class="container">
                <a ng-click="model.createWidget(model.newWidgetId, widgetType.toUpperCase())" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.newWidgetId}}/widget-editor">
                    <span>{{widgetType}}</span>
                </a>
            </div>
        </li>
    </ul>
</div>
<footer class="djg-header-footer-standard djg-footer-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <a href="#!/profile/{{model.userId}}">
            <span class="glyphicon glyphicon-user pull-right djg-glyphicon-standard-size djg-glyphicon-header-footer-center djg-glyphicon-header-footer-standard"></span>
        </a>
    </div>
</footer>