<nav class="djg-header-footer-standard djg-header-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
            <span class="glyphicon glyphicon-chevron-left pull-left djg-glyphicon-header-footer-center djg-glyphicon-standard-size djg-glyphicon-header-footer-standard"></span>
        </a>
        <span>Widgets</span>
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
            <span class="glyphicon glyphicon-plus pull-right djg-glyphicon-header-footer-center djg-glyphicon-standard-size djg-glyphicon-header-footer-standard"></span>
        </a>
    </div>
</nav>
<div class="container-fluid djg-body-content">
    <ul class="djg-ul-standard">
        <li ng-repeat="widget in model.widgets" class="djg-li-spacing-standard djg-glyphicon-standard-size">
            <div>
                <div class="djg-widget-glyphicon-panel">
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}/widget-editor">
                        <span class="glyphicon glyphicon-align-justify pull-right djg-glyphicon-li-center"></span>
                    </a>
                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}/widget-editor">
                        <span class="glyphicon glyphicon-cog pull-right djg-glyphicon-li-center"></span>
                    </a>
                </div>
                <div ng-include="model.getWidgetIncludeUrl(widget.widgetType)"></div>
            </div>
        </li>
    </ul>
</div>
<footer class="djg-header-footer-standard djg-footer-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">

        <span class="glyphicon glyphicon-play pull-left djg-glyphicon-left djg-glyphicon-standard-size djg-glyphicon-header-footer-center djg-glyphicon-header-footer-standard"></span>
        <span class="glyphicon glyphicon-eye-open pull-left djg-glyphicon-standard-size djg-glyphicon-header-footer-center djg-glyphicon-header-footer-standard"></span>
        <a href="#!/profile/{{model.userId}}">
            <span class="glyphicon glyphicon-user pull-right djg-glyphicon-standard-size djg-glyphicon-header-footer-center djg-glyphicon-header-footer-standard"></span>
        </a>
    </div>
</footer>