<div>
    <label for="name" class="djg-profile-field-title-text">
        Name
    </label>
    <input class="form-control input djg-standard-margin-bottom"
           type="text"
           placeholder="Name"
           ng-model="model.widget.name"
           id="name">
    <label for="text" class="djg-profile-field-title-text">
        Text
    </label>
    <input class="form-control input djg-standard-margin-bottom"
           type="text"
           placeholder="Text"
           ng-model="model.widget.text"
           id="text">
    <label for="size" class="djg-profile-field-title-text">
        Size
    </label>
    <input class="form-control input djg-standard-margin-bottom"
           type="text"
           placeholder="Size"
           ng-model="model.widget.size"
           id="size">
</div>