<div>
    <label for="name" class="djg-profile-field-title-text">
        Name
    </label>
    <input class="form-control input djg-standard-margin-bottom"
           type="text"
           placeholder="Name"
           id="name">
    <label for="text" class="djg-profile-field-title-text">
        Text
    </label>
    <input class="form-control input djg-standard-margin-bottom"
           type="text"
           placeholder="Text"
           id="text">
    <label for="url" class="djg-profile-field-title-text">
        URL
    </label>
    <input class="form-control input djg-standard-margin-bottom"
           type="url"
           placeholder="URL"
           id="url">
    <label for="width" class="djg-profile-field-title-text">
        Width
    </label>
    <input class="form-control input djg-standard-margin-bottom"
           type="number"
           placeholder="Width"
           value="100"
           max="100"
           min="0"
           id="width">
</div>