<!-- Header -->
<nav class="djg-header-footer-standard djg-header-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
        <span>Bandit</span>
        <div class="pull-right">
            <a ng-click="model.goToHomepage()">
                <span class="glyphicon glyphicon-home djg-glyphicon-header-footer-standard djg-glyphicon-standard-size djg-glyphicon-header-footer-center"></span>
            </a>
        </div>
    </div>
</nav>
<!-- Body -->
<div class="container container-fluid djg-body-content">
    <label for="text" class="djg-login-register-title-text">
        <span>Register</span>
    </label>
    <input class="form-control input djg-standard-margin-bottom"
           type="text"
           ng-model="model.user.username"
           placeholder="username"
           id="text">
    <select class="form-control input djg-standard-margin-bottom"
            type="dropdown"
            ng-model="model.user.type"
            placeholder="Account Type"
            id="type">
        <option value="Researcher">Researcher</option>
        <option value="Agent">Agent</option>
        <option value="Promoter">Promoter</option>
        <option value="Venue">Venue</option>
    </select>
    <input class="form-control input djg-standard-margin-bottom"
           type="password"
           ng-model="model.user.password"
           placeholder="password"
           id="password">
    <input class="form-control input djg-standard-margin-bottom"
           type="password"
           ng-model="model.user.passwordVerify"
           placeholder="password"
           id="passwordVerify">

    <a class="btn djg-green-btn form-control djg-standard-margin-bottom"
       ng-click="model.registerUser(model.user)">
        <span>Register</span>
    </a>
    <a class="btn djg-cancel-btn form-control djg-standard-margin-bottom"
       ng-click="model.goToHomepage()">
        <span>Cancel</span>
    </a>
</div>
<!-- Footer -->
<footer class="djg-header-footer-standard djg-footer-standard">
    <div class="djg-title-standard djg-profile-nav-title-text">
    </div>
</footer>